services:
  lobby-server:
    image: node:22-alpine
    working_dir: /app
    command: sh -c "corepack enable && pnpm install && pnpm p2p:dev"
    environment:
      NODE_ENV: development
      REDIS_URL: redis://redis:6379
    ports:
      - 3002:3002
    volumes:
      - .:/app
      - p2p_node_modules:/app/node_modules
    depends_on:
      - redis

  web:
    image: node:22-alpine
    working_dir: /app
    command:
      - sh
      - -c
      - corepack enable && pnpm install && pnpm web:dev
    environment:
      NODE_ENV: development
      VITE_API_BASE: http://localhost:3002
    ports:
      - 4200:4200
    depends_on:
      - lobby-server
    volumes:
      - .:/app
      - web_node_modules:/app/node_modules

  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    command: ['redis-server', '--save', '60', '1', '--loglevel', 'warning']

volumes:
  p2p_node_modules:
  web_node_modules:
  redis_data:
